# Dependencies
node_modules/
.npm
.env

# Build outputs
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deno
deno.lock

.vite